@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



:root{
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --text-color: #ffffff;
}

/* Base */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
  color: var(--text-color);
  font-family: var(--font-primary);
}

body::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
}

h3 {
  font-weight: 300;
  letter-spacing: .2rem;
}

.container{
  max-width: 1280px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-medium{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-medium-project{
  margin-top: 100px;
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 100px;
}

.whitespace {
  width: 100%;
  height: 100px;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: flex;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
}

/* Header */

.header{
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 100;
}

.nav{
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  font-size: 1.25rem;
  color: var(--text-color);
}

.nav-toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--text-color);
}

@media screen and (max-width:767px) {
  .nav-menu{
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 30%;
    top:-100%;
    left:0;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    z-index: 100;
    padding: 4rem 0 0 3rem;
    transition: .3s;  
  } 
}

.nav-close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav-list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  list-style: none;
}

.nav-link{
  color: var(--text-color);
  font-weight: 500;
  transition: .3s;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #ffffffb3;
}

.nav-link:hover{
  color: #ffffff79;
}

.show-menu{
  top:0;
  right: 0;
}

/* Hero */

.hero{
  background-color: #111111;
  position: relative;
  z-index: -1;
  padding: 6rem 0;
  display: flex;
  align-items: center;
}

.hero h1{
  font-family: var(--font-secondary);
  font-size: 3rem;
  background:-webkit-linear-gradient(360deg, rgba(152,69,232,1) 0%, rgba(51,210,255,1) 25%, rgba(221,87,137,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero p{
  color: #ffffffb3;
  font-size: .8rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.hero h2{
  font-family: var(--font-secondary);
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

/* Experience */

.experience{
  height: 100%;
  padding-top: 60px;
  padding-bottom: 80px;
}

.experience h3{
  font-weight: 300;
  letter-spacing: .2rem;
}

.accordion-experience{
  position:relative;
  width: 100%;
  color: #6cace4;
  margin-top: 2rem;
}

.accordion-experience section{
  display: block;
  width: 100%;
  left: 0;
}

.accordion-experience section input[name="sections"]{
  left: -9999px;
  position:absolute;
}

.accordion-experience section input[name="sections"]:checked + label{
  background-color: #1f1e1e;
  color: #ffffff;
  border:2px solid #ffffff;
}

.accordion-experience section input[name="sections"]:checked ~ article{
  display: block;
}

.accordion-experience section label{
  font-family: var(--font-primary);
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
  display: block;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  padding: 1rem  0.83rem;
  position: relative;
  width: 100%;
  z-index: 100;
  border: 2px solid #1f1e1e;
}

.accordion-experience section article{
  display: none;
  left:0;
  width: 100%;
  position:relative;
  top:0;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.7;
  padding:2rem 0;
}

.accordion-experience section article ul li{
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4de;
  list-style: disc;
  list-style-position: inside;

}

.accordion-experience section article > p{
  color: #6cace4;
  font-weight: 300;
  font-size: 14px;
  margin: 16px 0 16px 0;
  letter-spacing: 1px;
  /* opacity: .8; */
}

.title-experience{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-experience h2{
  color: #fff;
}

.accordion-experience section article:after{
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;
  left:-229;
  position: absolute;
  top:0;
  width: 220px;
  z-index: 1;
}

/* Project */

/* .featured-project .container-medium hr{
  border-color: #c6c6c6;
  margin-bottom: 50px;
}

.featured-project h3{
  font-weight: 300;
  letter-spacing: .2rem;
}

.box-featured-projects{
  margin-top: 30px;
  display: grid;
  gap: 20px 20px;
}

.box-featured-projects .project img{
  width: 100%;
  height: auto;
}

.head-project{
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.head-project h3{
  font-family: var(--font-primary);
  font-weight: 400;
  letter-spacing: 1px;
  width: 80%;
}

.box-featured-projects .project p{
  margin-top: 10px;
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .05rem;
  line-height: 1.3rem;
}

.box-featured-projects .project .p-tech{
  color: #6cace4;
} */

h6 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-4{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-8{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.project1 {
  background: url(/img/project1-thumbnail.png) no-repeat 50% 50%;
  background-size: cover;
}

.project1::after{
  content: "Petto: Mobile App";
  /* font-family: "Roboto Mono"; */
  font-size: 26px;
  position: relative;
  color: #fff;
  display: block;
  top: 50%;
  left: -90%;
  right: 0;
  bottom: 0;
}

.project1 p{
  position: relative;
}

.project2{
  background: url(/img/project2-thumbnail.png) no-repeat 50% 50%;
  background-size: cover;
}

.project2::after {
  content: "Discord Tabs";
  /* font-family: "Roboto Mono"; */
  font-size: 26px;
  position: relative;
  color: #fff;
  display: block;
  top: 60%;
  left: 90%;
  right: 0;
  bottom: 0;
}


@media(max-width: 767px) {
  .project {
        width: 90% !important;
        margin: 14px auto;
  }

  .vertical {
        display: none;
  }

  .project1::after, .project2::after, .project3::after, .project4::after {
        display: none;
  }
}
@media (min-width: 767px){

  .col-lg-4{
    flex: 0 0 33%;
    max-width: 33%;
  }

  .col-lg-6{
    flex: 0 0 50%;
    max-width: 50%; 
  }

  .col-lg-8{
    flex: 0 0 66%;
    max-width: 66%; 
  }

}


/* Petto Project Styling */

.header-container-petto {
  padding: 24px 180px;
  margin: 220px auto 0px;
  padding-bottom: 100px;
  text-align: center;
  font-weight: 600;
}

.petto-banner{
  /* max-width: 1440px; */
  text-align: center;
  width: 100%;
  height: auto;
}

.container-medium-petto{
  max-width: 720px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-medium-petto h3{
  margin-top: 100px;
  margin-bottom: 50px;
}

/* .container-medium-petto p{
  margin-top: 50px;
  font-size: 2rem;
} */

.project-description-large{
  margin-top: 50px;
  font-size: 2rem;
  margin-bottom: 50px;
}

.petto-role-container p{
  font-size: 1rem;
  margin-top: 20px;
}

.project-showcase-container-grid{
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.project-info{
  font-size: 2rem;
  font-weight: 400;
}

.project-showcase-images{
  position: relative;
  width: 310px;
  justify-self: center;
}

.project-showcase-images img:nth-child(1){
  width: 224px;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
}

.project-showcase-images img:nth-child(2){
  width: 180px;
  margin-left: .5rem;
  position: relative;
}

/* New Petto Page Styling */

.project__container {
  width: 70%;
  margin: 100px auto;
  /* border: 1px solid #5c5c5c; */
  color: #fff;
  padding: 120px 40px;
  text-align: center;
}

.project__container-title h1{
  color: #fff;
  font-family: "GrandSlang Roman";
  font-size: 140px;
}

.project__container-subtitle {
  margin: 20px 0;
  font-family: "Neue Montreal";
  font-size: 16px;
}

.project__container-images {
  position: relative;
  width: 100%;
  height: 2000px;
  padding: 40px 0;
}

.project__image {
  background: red;
  width: 600px;
  height: 500px;
  margin: 40px auto;
}

.project__image-one {
  background: url(/img/P1Thumbnail1.png) no-repeat 50% 50%;
  background-size: cover;
}

.project__image-two {
  position: relative;
  top: -100px;
  left: -260px;
  background: url(/img/P1Thumbnail2.png) no-repeat 50% 50%;
  background-size: cover;
}

.project__image-three {
  position: relative;
  left: 300px;
  background: url(/img/P2Thumbnail3.png) no-repeat 50% 50%;
  background-size: cover;
}

/* .project__image-four {
  position: relative;
  top: -200px;
  left: -100px;
  background: url(../images/img-four.jpeg) no-repeat 50% 50%;
  background-size: cover;
} */

.project-next-link {
  position: relative;
  top: -100px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-next-link a {
  color: #fff;
  text-decoration: none;
  font-family: "GrandSlang Roman";
  font-size: 160px;
}

.anime-js-title .letter {
  display: inline-block;
  line-height: 1em;
}

@media(max-width: 900px) {
  .project__container-title h1 {
      font-size: 40px;
  }

  .project__container {
      width: 80%;
  }

  .project__container-images {
      width: 100%;
      margin: 0 auto;
  }

  .project__image {
      width: 90%;
  }

  .project__image-one, .project__image-two, .project__image-three, .project__image-four {
      position: relative;
      top: 0;
      left: 0;
  }
}

/*=============== HOME ===============*/
.home {
  /* background-color: #FAF7F3; */
  overflow: hidden;
}

.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10rem;
}

.home__description {
  color: lightgray;
  margin: 1rem 0 2rem;
}

.home__title, 
.home__description {
  line-height: 140%;
}

.home__images {
  position: relative;
  width: 310px;
  justify-self: center;
}

.home__images img:nth-child(1) {
  width: 224px;
  position: absolute;
  right: -5.5rem;
  top: -9.5rem;
  transition: transform 0.2s ease-out;
}

.home__images img:nth-child(2) {
  width: 180px;
  margin-left: 2rem;
  position: relative;
  transition: transform 0.2s ease-out;
}

/* Footer */

footer{
  padding:40px 0 60px 0;
}

footer .container-medium hr{
  border-color: #c6c6c6;
  margin-bottom: 50px;
}

footer .container-medium h3{
  font-family: var(--font-primary);
  font-weight: 300;
  letter-spacing: 1px;
  width: 80%;
}

footer .box-contact{
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px
}

.box-contact .contact{
  padding: 12px 18px;
  justify-content: center;
  border-radius: 4px;
  border-image-slice: 1;
  background-color: transparent;
}

/*--------------- footer section --------------- */
.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}


#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}


#tw::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
}


#yt::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b;
}

#media, #address {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media(max-width: 768px) {
  .collab, #personal, #media, #address {
        text-align: center;
  }

  .info ul {
        margin: 0 0 0 -22px;
        padding: 0;
  }
}

.contact-email{
  border:2px solid;
  border-image-source: linear-gradient(51.06deg, #9358F7 0.87%, #9259F7 7.31%, #8E5DF6 13.75%, #8862F5 20.19%, #806BF4 26.63%, #7575F2 33.07%, #6882F0 39.51%, #5990EE 45.95%, #4A9FEB 52.39%, #3BADE9 58.84%, #2EBAE7 65.28%, #23C4E5 71.72%, #1BCDE4 78.16%, #15D2E3 84.6%, #11D6E2 91.04%, #10D7E2 97.48%);
}

.contact-linkedin{
  border:2px solid;
  border-image-source: linear-gradient(135deg, #6964DE 2.88%, #FCA6E9 100%);
}

.contact-twitter{
  border: 2px solid;
  border-image-source: linear-gradient(45.4deg, #F4426C 6.41%, #FBF2B1 98.99%);
}

.contact-github{
  border: 2px solid;
  border-image-source: linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%);
}

.box-contact .contact{
  cursor: pointer;
}

.box-contact .contact p{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .8rem;
  font-weight: 300;
  justify-content: center;
}

/* Media Queries */

@media (min-width: 767px) {

  /* Base */

  .container, .container-medium, .container-medium-petto, .container-medium-project{
    margin-left: auto;
    margin-right: auto;
  }

  /* Header */

  .nav{
    height: 5rem;
  }

  .nav-toggle, .nav-close{
    display: none;
  }

  .nav-list{
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav-menu{
    margin-left: auto;
  }

  /* Hero */

  .hero{
    display: block;
    padding: 13rem  0;
  }

  .hero p{
    font-size: 1rem;
    text-align: justify;
  }

  /* Experience */
  .accordion-experience{
    width: 100%;
    color: #6cace4;
    margin-top: 3rem;
  }

  .accordion-experience section label{
    border-color: #1f1e1e;
    border-style: solid;
    border-width: 0 0 0 2px;
    width: 20%;
  }

  .accordion-experience section label:hover span{
    transition: all .3s ease-in-out;
  }

  .accordion-experience section label:hover span{
    margin-left: 6px;
  }

  .accordion-experience section input[name="sections"]:checked + label{
    background-color: #1f1e1e;
    color: #ffffff;
    border-style: solid;
    border-width: 0 0 0 2px;
  }

  .accordion-experience section article{
    position: absolute;
    width: 70%;
    left:26.5%;
    padding: 0;
  }

  .title-experience{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Project */

  .box-featured-projects{
    grid-template-columns: repeat(2, 1fr);
  }

  .project{
    cursor: pointer;
  }

  .project img{
    transition: all .3s ease-in-out;
  }

  .project:hover img{
    transform: scale(1.02)
  }

  .whitespace {
    display: none;
}


  /* Petto */

  .home__container{
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
  }

  .home__images {
      margin-top: 6rem;
  }


  /* Footer */

  footer .container-medium .box-contact{
    grid-template-columns: repeat(4, 1fr);
  }

  .box-contact .contact p{
    transition: all .3s ease-in-out;
    font-size: 1rem;
  }
 

  .box-contact .contact:hover p{
    font-size: 1.2rem;
  }


  .footer-bottom{
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .footer-bottom p{
    font-weight: 200;
    font-size: 14px;
    color: #b6b6b6;
    margin: 3px;
  }

}

@media screen and (min-width: 1124px) {

  .home__container {
      padding: 10rem 0 3rem;
      column-gap: 0;
  }

  .home__images {
      width: 500px;
      margin-top: 8rem;
      transform: translate(-1rem);
  }

  .home__images img:nth-child(1) {
      width: 345px;
      top: -14.5rem;
  }

  .home__images img:nth-child(2) {
      width: 277px;
  }

}